[2021-10-30 08:09] Erreth-Akbe opened #8 "skr加把劲"
10.30日之前完成所有前端微调的部分的整理

[2021-10-30 08:09] Erreth-Akbe commented on #8
再加把劲

[2021-10-30 08:10] Erreth-Akbe commented on #8
睡大觉

[2021-10-30 08:10] #8 closed

[2021-10-30 08:40] Geoffreyyy opened #9 "需要优化的地方"
1.![image](https://user-images.githubusercontent.com/92965123/139525920-3ed76390-4955-4763-b727-8fdee656f9e6.png)  页面tab的logo更新

[2021-10-30 08:41] Geoffreyyy commented on #9
Logo更新：![image](https://user-images.githubusercontent.com/92965123/139525945-721e702e-9cf2-45bc-b5f9-a6d701022365.png)

[2021-10-30 08:43] Geoffreyyy commented on #9
.多语言 英语切换以后要都变英语 有很多地方还是chinese 按钮@yuhuison

[2021-10-30 08:43] Geoffreyyy commented on #9
点火按钮鼠标放上去 外框没了 ，并且两个按钮离得太近了
![image](https://user-images.githubusercontent.com/92965123/139526236-d88ddc3e-f4f3-4a9c-a848-243cf090341b.png)
![image](https://user-images.githubusercontent.com/92965123/139526242-521cf4ad-a8b2-4db2-904f-4f489f3ce423.png)

@yuhuison

[2021-10-30 08:44] Geoffreyyy commented on #9
完成任务后请close掉

[2021-10-30 08:54] Geoffreyyy commented on #9
![image](https://user-images.githubusercontent.com/92965123/139526683-6971f419-2a8b-4c59-99ef-3e966351d74d.png)
鼠标放上去外面框没了 同样的按钮问题

[2021-10-30 09:19] Geoffreyyy commented on #9
![image](https://user-images.githubusercontent.com/92965123/139527361-42800d2b-03ac-4c09-a3df-d661acbc14ee.png)
需要新加：1.右上角关闭 2.右下角保存图片
@heacsing

[2021-10-30 09:21] Geoffreyyy commented on #9
海报需要新增：
1.右上角关闭
2.右下角保存
![image](https://user-images.githubusercontent.com/92965123/139527475-6f49e050-45b0-4cf8-9239-c5f05ddcd7a7.png)
@heacsing

[2021-10-30 09:24] Geoffreyyy commented on #9
页面滑动后，停止滑动在某个位置，顶部bar也需要出现
![image](https://user-images.githubusercontent.com/92965123/139527518-a08bc0e1-da67-4999-b44c-f2b81108a4f7.png)
@yuhuison

[2021-10-30 09:25] Geoffreyyy commented on #9
@heacsing

[2021-10-30 10:03] heacsing commented on #9
已修复

[2021-10-30 10:05] heacsing commented on #9
已修复border消失导致的父元素高度坍缩

[2021-11-02 07:52] Geoffreyyy commented on #9
新的页面首页下面的两个按钮，目前一个是Learn 一个Earn ，需要把Earn改成Share 。  Learn按钮跳转 Githubbook ，Share按钮跳转到 *去发布* 的界面

跳转推特：https://twitter.com/SparkLink_io
TG电报：https://t.me/SparkLink_io

@yuhuison

[2021-11-02 14:57] Geoffreyyy commented on #9
需求：
1.查看作品页面新增 **点火链接分享** 按钮，点击按钮后弹出 “**分享链接复制成功**”弹窗提示，分享链接的格式为：欢迎来到SparkLink查看并购买我的NFT作品：作品URL

2.三个按钮顺序改变 按照图中的位置调整一下

3.分享按钮下面添加一句提示，提示内容为：所有人可通过分享链接或海报进入作品详情页查看以及购买本作品

![image](https://user-images.githubusercontent.com/92965123/139872219-c931c197-ddd6-4422-a6c7-b633c0c80c9a.png)

@heacsing

[2021-11-05 04:05] yuhuison commented on #9
已完成

[2021-11-05 04:05] #9 closed

[2021-11-06 06:08] Erreth-Akbe opened #10 "右上角connect wallet"
右上角两个button距离过近，位置应该做垂直居中处理，样式都有阴影

[2021-11-06 06:20] Geoffreyyy commented on #10
![image](https://user-images.githubusercontent.com/92965123/140600074-37c86124-d6f7-470c-84d8-4b099b19d8e4.png)
鼠标移上去会显示黑色一大块，修改成只点击 need help 按钮

[2021-11-06 06:21] Geoffreyyy commented on #10
![image](https://user-images.githubusercontent.com/92965123/140600099-315f255c-67eb-4466-be33-5fafcf869ba5.png)
社交媒体去掉 只保留下面LOGO @yuhuison

[2021-11-06 06:21] Erreth-Akbe opened #11 "右上角中英文切换处菜单改为下拉式切换，不要弹出"
![image](https://user-images.githubusercontent.com/43749085/140600102-5661c05c-db68-4cbf-9008-2d96b9782630.png)

[2021-11-06 06:22] Geoffreyyy commented on #10
![image](https://user-images.githubusercontent.com/92965123/140600109-08d3a774-a0cb-4169-b503-239740e1d0fc.png)
这部分向右移动，和上面的资源字段并齐

[2021-11-06 06:24] Geoffreyyy commented on #10
所有中文字段里面的标点用中文的，英文的用英文。****** @yuhuison

[2021-11-06 06:33] Erreth-Akbe opened #12 "开始筹备可视化树形结构展示"
分为两部分，一部分是新增一个issue页面，需要展示树形结构，以及封面名字相关信息，页面目前实现功能即可。

[2021-11-06 06:34] Erreth-Akbe opened #13 "海报需要重新优化"
海报下方的硬币需要改版或删去，黄色对勾需要删去，此部分配合UI完成。

[2021-11-06 06:36] Erreth-Akbe opened #14 "钱包新功能disconnect"
点击连接钱包完成后，再次点击地址需要提供断开链接功能，menu仿照中英文切换，在中英文切换改动完成之后做。
钱包链接时的界面需要重新设计，详情在此处讨论即可。

[2021-11-06 06:37] Erreth-Akbe opened #15 "右下角need help按钮"
![image](https://user-images.githubusercontent.com/43749085/140600402-ec07d6e0-1600-47d7-840e-5b44127381a1.png)

鼠标移上去会显示黑色一大块，修改成只点击 need help 按钮

[2021-11-06 06:39] Erreth-Akbe opened #16 "底部导航栏重新设计。"
![image](https://user-images.githubusercontent.com/43749085/140600413-579a1a00-8a94-4405-8166-f537ddc6fedf.png)
此处需要重新设计，首先Resource等上级标题大小太小了，无法体现区别。
其次社交媒体和底下的logo是重复的需要将上面文字的部分删去。
底部logo的颜色做统一处理和背景色相适应，在功能相同的情况下设计需要重新处理，颜色偏深色调。
![image](https://user-images.githubusercontent.com/43749085/140600448-e149c451-3765-4395-af01-c64fa5390900.png)
底部的文字内容删去。仅保留telegram bot，首字母大写就行，没必要全部都大写。

[2021-11-06 06:42] Erreth-Akbe opened #17 "中间部分国家支持与币种支持重做"
![image](https://user-images.githubusercontent.com/43749085/140600489-d8c302fa-9304-4f54-8222-303b7a110de4.png)
前两张图和最后美刀图片风格不一致，需要重新换图。
不要金币，要币种。
字体需要居中处理，要大写就都大写。
99.9改成99%

[2021-11-06 06:43] Erreth-Akbe opened #18 "顶部 topbar 动效删去深色状态"
![image](https://user-images.githubusercontent.com/43749085/140600533-11ea801f-9f31-4488-9690-4863dcc37bf8.png)
此部分需要在style上做统一的重构处理。
如果有时间就修，没时间就先放一下

[2021-11-06 06:44] Erreth-Akbe opened #19 "SEO以及telegram与twitter返回缩略简介"
这部分需要做一个nodejs的服务端解析，打一个docker包由后端做部署。

[2021-11-06 06:45] Erreth-Akbe opened #20 "所有首页的button全部重做"
渐变色取消，样式尽可能取消，由UI重新设计。

[2021-11-06 06:50] Erreth-Akbe opened #21 "发布页面通知信息重做，现在的意义不明"
![image](https://user-images.githubusercontent.com/43749085/140600800-9a1b0732-4579-4512-965b-8dccc7e01a34.png)
内容展示应该是创作者关心的权益以及收益部分，NFT，IPFS等概念不需要向创作者暴露。

[2021-11-06 06:51] Erreth-Akbe opened #22 "所有页面的黑色字体，Comming soon等更换为一致"
![image](https://user-images.githubusercontent.com/43749085/140600836-68a09824-4b19-4048-808c-e5f8ce515388.png)
![image](https://user-images.githubusercontent.com/43749085/140600848-6c599c92-d89a-4afc-94ee-f655692dcf78.png)

[2021-11-06 07:17] Geoffreyyy opened #23 "need help 按钮问题"
鼠标移上去会显示黑色一大块，修改成只点击 need help 按钮
  @@![image](https://user-images.githubusercontent.com/92965123/140601460-05691f48-2bfe-4a74-9549-14a19998b97e.png)

[2021-11-06 07:19] Geoffreyyy opened #24 "网页中英文字段，标点符号需要区分中英文"
所有中文字段里面的标点用中文的，英文字段用英语的，尤其是逗号 句号这样的，再检查一遍

![image](https://user-images.githubusercontent.com/92965123/140601537-2b3e4682-f0d8-4dc8-b748-612f09e73efe.png)
![image](https://user-images.githubusercontent.com/92965123/140601541-1abc1e19-9b0d-4b7b-a91a-d198fedea583.png)
![image](https://user-images.githubusercontent.com/92965123/140601549-4bd4effa-5aac-4d0b-bef5-850bac955063.png)

[2021-11-06 07:20] Geoffreyyy opened #25 "社交媒体的英语部分 去掉"
![image](https://user-images.githubusercontent.com/92965123/140601562-01d646a0-fe52-4e44-aed9-d254cfd90a6d.png)

[2021-11-06 07:21] Geoffreyyy opened #26 "最下面社交媒体LOGO 对齐"
![image](https://user-images.githubusercontent.com/92965123/140601585-1da80fdc-6d3d-4783-8889-cd8093721a04.png)

[2021-11-06 07:24] Geoffreyyy commented on #17
@xiaoyeshi

[2021-11-06 07:29] Geoffreyyy commented on #20
@xiaoyeshi

[2021-11-06 07:33] yuhuison commented on #26
Done

[2021-11-06 07:33] #26 closed

[2021-11-06 07:36] yuhuison commented on #24
Done

[2021-11-06 07:36] #24 closed

[2021-11-06 07:40] Geoffreyyy opened #27 "网页默认100%大小的时候 看起来还是太大了，尤其是topbar"
![image](https://user-images.githubusercontent.com/92965123/140601975-45352682-fed9-4550-bdbb-4c9f7a838858.png)

[2021-11-06 07:40] yuhuison commented on #22
Done

[2021-11-06 07:40] #22 closed

[2021-11-06 07:40] yuhuison commented on #18
Done

[2021-11-06 07:40] #18 closed

[2021-11-06 07:41] Geoffreyyy commented on #27
![image](https://user-images.githubusercontent.com/92965123/140602040-9e73761c-4e0e-4301-84ed-5477640f0509.png)
我在看 50%-65%的时候这个topbar看起来还算比较舒服

[2021-11-06 07:43] yuhuison commented on #27
字体大小部分正在按照MDUI的标准重新整

[2021-11-06 07:44] yuhuison commented on #25
Done

[2021-11-06 07:45] yuhuison commented on #25
这样的话下面会变得很空泛

[2021-11-06 07:54] yuhuison commented on #15
Done

[2021-11-06 07:56] yuhuison commented on #25
@Geoffreyyy

[2021-11-06 08:19] #15 closed

[2021-11-06 08:20] yuhuison commented on #11
改了之后发现和原来差不多，下拉选择的那个框本身也是弹出的呀

[2021-11-06 08:25] #23 closed

[2021-11-06 08:38] Erreth-Akbe commented on #25
这部分UI需要重做，先做一下调整然后等那边出图

[2021-11-06 08:38] Erreth-Akbe commented on #25
@xiaoyeshi

[2021-11-06 08:39] Erreth-Akbe opened #28 "英文部分需要重新校验一下，包括圆角半角符号大写与小写区分"

[2021-11-07 01:47] #25 closed

[2021-11-07 01:47] #27 closed

[2021-11-07 01:47] #16 closed

[2021-11-07 15:45] Geoffreyyy opened #30 "我的收藏界面，添加去发布按钮"
![image](https://user-images.githubusercontent.com/92965123/140651896-62955f27-99f2-41db-8544-bdb02d648e0e.png)
在我的收藏界面添加去发布按钮，点击后可直接跳转去发布界面

[2021-11-07 15:46] Geoffreyyy commented on #30
如果新手进来的话 也可以直接去发布

[2021-11-07 15:46] Geoffreyyy commented on #30
按钮添加完成后，把首页的 **SHARE**按钮跳转链接到**我的收藏** 界面

[2021-11-08 04:44] aksdjhakj commented on #14
done

[2021-11-10 12:12] yuhuison commented on #17
Done

[2021-11-10 12:12] #17 closed

[2021-11-10 15:57] yuhuison commented on #30
done

[2021-11-10 15:57] #30 closed

[2021-11-12 04:03] Geoffreyyy opened #34 "弹窗颜色改成一样的风格"
![image](https://user-images.githubusercontent.com/92965123/141406704-d66d8493-d551-4661-a38d-05b8413446c2.png)

[2021-11-12 10:27] #28 closed

[2021-11-12 10:28] #14 closed

[2021-11-14 03:25] yuhuison commented on #34
Done

[2021-11-14 03:25] #34 closed

[2021-11-14 16:37] Geoffreyyy opened #35 "新增三个前端功能选择框"
![image](https://user-images.githubusercontent.com/92965123/141689783-8d0ee534-1928-4767-a8f7-60bda915ab6f.png)
分别是 1.允许二次创作 2.允许一级节点免费铸造 3.允许商用

允许二次创作是必选项

[2021-11-15 16:17] Geoffreyyy opened #36 "**学习如何开始** 按钮，需要给个下划线表示可点击"
![image](https://user-images.githubusercontent.com/92965123/141816213-0251608e-15a7-4ad2-800d-19e3e20bcd7b.png)
给出可点击的交互提示

[2021-11-18 16:25] Geoffreyyy opened #37 "发布页面功能改动（优先级高）"
需求：
1.直接干掉选择是否开源或者加密选择的页面，点击**去发布**后。直接进入发布信息页面，此时默认为开源发布，但是，我们在页面中给一个可加密的按钮，如图，点击加密选择后此作品为加密发布，加密发布字体颜色设置为红色
![image](https://user-images.githubusercontent.com/92965123/142455118-e051fbf7-2ac3-4f56-a359-772fa944888c.png)

2.加密发布旁边放一个提示按钮，鼠标移动上去后出现提示框（移动到字上就弹出），提示加密发布的含义，鼠标移走就消失
@yuhuison

[2021-11-18 16:29] Geoffreyyy opened #38 "作品描述的地方，添加一个字数限制提示"
![image](https://user-images.githubusercontent.com/92965123/142455980-ae74b7a0-e5ac-4a29-bd10-b7f1277a23dd.png)
暂时先限制长度为50个字符

[2021-11-18 16:31] Geoffreyyy opened #39 "作品名字字符限制"
![image](https://user-images.githubusercontent.com/92965123/142456417-977d49d5-99ab-4850-ae0e-98d6bc00ae30.png)
作品名字字符限制为15个

[2021-11-18 16:35] Geoffreyyy opened #40 "作品文件的上传框内，修改提示（优先级高）"
![image](https://user-images.githubusercontent.com/92965123/142456858-4b5b277d-6140-4848-b62d-55cd0187bf49.png)
支持多个文件的打包上传，支持多种类型文件的打包上传

[2021-11-18 16:37] Geoffreyyy opened #41 "※※ 大家任务完成后请通知需求人验收后及时关闭任务 ※※"

[2021-11-19 09:21] yuhuison commented on #35
Done

[2021-11-19 09:21] #35 closed

[2021-11-19 09:22] yuhuison commented on #36
这个等新UI出来吧，原本是有的，后面改版的第二版UI给他去掉了

[2021-11-29 17:04] Geoffreyyy opened #52 "底部邮箱服务修改"
需求：改为用户输入邮箱后，submit，邮件发送到我们的邮箱内，无需直接暴露出邮箱
![image](https://user-images.githubusercontent.com/92965123/143911172-9c41fc16-7a6f-48c9-bc47-4ff47d21bb18.png)

[2021-11-30 02:27] codeAtNow commented on #52
收到

[2021-12-02 14:19] #52 closed

[2022-02-11 08:09] #10 closed

[2022-02-11 08:09] #11 closed

[2022-02-11 08:09] #12 closed

[2022-02-11 08:09] #13 closed

[2022-02-11 08:09] #19 closed

[2022-02-11 08:09] #20 closed

[2022-02-11 08:09] #21 closed

[2022-02-11 08:09] #37 closed

[2022-02-11 08:09] #38 closed

[2022-02-11 08:09] #39 closed

[2022-02-11 08:09] #40 closed

[2022-04-26 10:17] SantanaSP opened #64 "The icons in footer area display wrong"
## What's going wrong?

The icons in the left corner of the footer area display in the wrong way as follows. It looks like the font file is missing.

![image](https://user-images.githubusercontent.com/104019956/165278235-3efc8355-d176-46a3-b6a0-e50ffee3e5c4.png)

## How to reproduce?

No need for this issue.

## Expected behaviour

The icons shouldn't be displaying as rectangle.

## Which version?

[2022-04-26 20:33] SantanaSP opened #67 "Downloading work feature is missing"
## What's going wrong?

The "Download" button on the work page currently doesn't have any function. Please add download feature to it.

![image](https://user-images.githubusercontent.com/104019956/165387196-87440fcb-58db-47fa-a19f-b2e373cf5539.png)

## How to reproduce?

No need for this issue.

## Expected behaviour

User click the button, and a download process start.

## Which version?

Branch

[2022-04-26 20:48] SantanaSP opened #68 "The header has a wrong scrolling behaviour"
## What's going wrong?

See image as follows.

![ezgif-5-d2d22514cf](https://user-images.githubusercontent.com/104019956/165389431-1f134a01-1ed6-491f-9b2f-798051c48049.gif)

## How to reproduce?

Open the index page, and scroll your midden mouse button in the header area.

## Expected behaviour

The header should not be able to scroll.

## Which version?

Branch `refactor`.

[2022-04-26 20:58] SantanaSP opened #69 "Got white screen when visiting the work page directly."
## What's going wrong?

I got a white screen when I visited the work page directly. And the console outputted following error.

![image](https://user-images.githubusercontent.com/104019956/165390463-b0901c4a-4d6e-48e3-a155-0ae48d546d3e.png)

When I clicked the `view` button on the collection page to visit the work page, everything was OK. But error occurred when I'm trying to visit the page using

[2022-04-26 21:12] SantanaSP opened #70 "The backward button on the work page don't function correctly"
## What's going wrong

When I clicked the backward button (i.e., `<` button)  on the work page the application didn't go backward and nothing happened. The location of this button is attached as follows.

![image](https://user-images.githubusercontent.com/104019956/165393064-8c79a336-86d6-4060-b077-20e700643586.png)

## How to reproduce?

No need for this issue.

## Expected behaviour

Application

[2022-04-26 21:18] SantanaSP opened #71 "The Chinese translation text seems incomplete"
## What's going wrong?

The Chinese version of the site hasn't been completed yet. There're lots of English text when user changes his language to Chinese.

## How to reproduce?

No need for this issue.

## Expected behaviour

There should not be a dozen of English text in Chinese version.

## Which version?

Branch `refactor`.

[2022-04-26 21:31] SantanaSP opened #72 "The "Receive Income" button on the work page doesn't have any function"
## What's going wrong?

When I clicked the "Receive Income" button nothing happed. The location of this button is attached as follows.

![image](https://user-images.githubusercontent.com/104019956/165394941-9fae6f45-cefa-4b7c-ada4-c5e6d5088f6f.png)

## How to reproduce?

No need for this issue.

## Expected behaviour

The application should enter Income receiving process when user presses this but

[2022-04-26 21:46] SantanaSP opened #73 ""royalty price" field in the publishing form should be validated"
## What's going wrong?

The "royalty price" in the publishing form does not get validated currently. When user inpust a value greater than the value appears earlier in "selling price" field no prompt would be given, which will lead to a "contract revert" error at the later stage.

![chrome-capture-2022-3-27 (1)](https://user-images.githubusercontent.com/104019956/165397018-50a7147a-9c9c-4b2c-851d-

[2022-04-26 22:10] SantanaSP opened #74 "Autocorrecting the value in "percent of earning" field in the publish form is not a good idea"
## What's going wrong?

Currently when user inputs a number greater than 100 in the "percent of earning" field in the publish form the wrong number would be corrected automatically. But this behaviour is too odd to user. We should transfer the right to decide to user and just give him a prompt.

![chrome-capture-2022-3-27 (2)](https://user-images.githubusercontent.com/104019956/165400391-2b3971a9-

[2022-04-27 01:55] SantanaSP opened #77 "The work page customer sees should be different with owner's"
## What's going wrong?

The work page for customers should look differently. The owner could retreive income from his NFT, but the customers couldn't; and customer could buy current NFT, since owner couldn't. Currently, the page looks same no matter who the visitor is.

## How to reproduce?

No need for this issue.

## Expected behaviour

This section need UI design.

## Which version?

Branch `re

[2022-04-27 01:57] SantanaSP commented on #77
Roadmap:

- [ ] UI and UX Design
- [ ] Assigned and begin development

[2022-04-27 04:44] SantanaSP commented on #77
For emergency reason I'm going to code without UI/UX design first.

Here is a new roadmap, anything missing pls reply me:

For owner:

- [x] Recieve Income (PR #80 )

For customer:

- [x] mint NFT (PR #78 )

[2022-04-27 06:46] #69 closed, assigned to SantanaSP

[2022-04-27 07:38] #67 closed, assigned to nobody

[2022-04-27 12:58] #70 closed, assigned to nobody

[2022-05-02 06:02] SantanaSP opened #81 "Epic - Mobile version MVP Tracker"
## Summary

No need to say too much. We need a mobile version MVP which can be used by our customers at the staging stage.

## Features

- [x] #83
- [x] #84
- [x] #82
- [x] #85
- [x] #86
- [x] #87
- [x] #88

[2022-05-02 06:17] SantanaSP opened #82 "Customers need a mobile version index page"
## Summary

No need for this issue.

## Roadmap

- [X] [UI/UX design](https://www.figma.com/file/aOzhPxHjypqHt0v7yTXlGa/sparklink?node-id=358%3A1555)
- [x] #84
- [x] #83
- [ ] Code for the index page

[2022-05-02 06:37] SantanaSP opened #83 "Customers need a mobile version top navigation bar"
## Summary

Currently the top navigation bar has some odd behaviour when the screen width is lower than  a certain value. See below.
(Remember to check UI/UX design to correct the appearance.)

### Logo and navigation icon should be in the end rather than in the middle （P1)

![image](https://user-images.githubusercontent.com/104019956/166193200-e3890ced-469c-45a7-bb24-2078fba9ccf9.png)

### There

[2022-05-02 07:04] SantanaSP opened #84 "Customers need a mobile version footer"
## Summary

No need for this issue.

## Roadmap

- [x] [UI/UX design](https://www.figma.com/file/aOzhPxHjypqHt0v7yTXlGa/sparklink?node-id=358%3A1814)
- [x] Coding

[2022-05-02 07:31] SantanaSP opened #85 "Customers need a mobile version publishing page"
## Summary

For path `/publish` customers need a mobile version publishing page so that they can publish their art in their phone. Remember to reovle this issue, the customers should be able to upload their files using mobile device.

## Roadmap

- [X] [UI/UX design](https://www.figma.com/file/aOzhPxHjypqHt0v7yTXlGa/sparklink?node-id=981%3A1681)
- [x] Coding

## Validation

- [x] As a customer, I

[2022-05-02 07:53] SantanaSP opened #86 "Customers need a mobile version collection page"
## Summary

For path `/collection` we need a mobile version page for our customers, so that they can browser their works using mobile devices.

## Roadmap

- [X] [UI/UX design](https://www.figma.com/file/aOzhPxHjypqHt0v7yTXlGa/sparklink?node-id=1184%3A2716)
- [x] Coding

## Validation

- [x] Customers should be able to check their works in collection view

[2022-05-02 08:20] Erreth-Akbe opened #87 "Customer need a Spark Page in PC client."
## Summary

For path `/art/NFTID` page, now customer and owner can access same page and display different componet.
But we should split this two pages for customer and owner.
`/art` for owner, it will has download, recieve income model.

`/spark` for customer and this page's url will also be in `Link Share` and `Poster Share`. It will has Mint and Download model.

## Roadmap

- [x] [Art page UI/UX

[2022-05-02 08:26] Erreth-Akbe opened #88 "Customer need a Spark Page in mobile client."
## Summary

For path `/art/NFTID` page, now costomer and owner can access same page and display different componet.
But we should split this two pages for customer and owner.
`/art` for owner, it will has download, recieve income model.

`/spark` for customer and this page's url will also be in `Link Share` and `Poster Share`. It will has Mint and Download model.

## Roadmap

- [x] [Art page UI/UX

[2022-05-03 11:14] Erreth-Akbe commented on #71
We will update Chinese version here soon.

[2022-05-03 11:17] Erreth-Akbe opened #90 "Contract should sub royalty price ahead of computing 2% platform tax."
## Summary
Contract should sub royalty price ahead of computing 2% platform tax.
## Should finish before contract deployed on Polygon

[2022-05-03 11:21] #77 closed, assigned to SantanaSP

[2022-05-03 11:22] #72 closed, assigned to SantanaSP

[2022-05-03 11:22] #64 closed, assigned to SantanaSP

[2022-05-03 11:22] Erreth-Akbe commented on #71
![image](https://user-images.githubusercontent.com/43749085/166444187-da5ff715-c784-4674-bbed-0fbce59bb0f3.png)
This pictrue need UI/UX assists. @Geoffreyyy

[2022-05-03 12:10] Geoffreyyy commented on #71
![Group 364 (2)](https://user-images.githubusercontent.com/92965123/166450079-809d6201-655b-4976-a132-3a47324f83e1.png)
this is the new one need to be translated

[2022-05-03 12:39] codeAtNow commented on #87
I will deal with it

[2022-05-03 14:21] SantanaSP commented on #83
I'll deal with this issue.

[2022-05-03 14:50] SantanaSP commented on #87
Fine, nobody found that we didn't have prototype between spark page and art page?

[2022-05-03 14:52] codeAtNow commented on #71
I have a new PR #95

[2022-05-03 14:53] codeAtNow commented on #87
I push a new PR #93

[2022-05-03 14:58] SantanaSP commented on #87
Don't write down unrelated things here. Notify me using discord.

[2022-05-03 14:59] SantanaSP commented on #87
Okay, I'll check it.

[2022-05-03 15:20] SantanaSP commented on #87
What about adding a context switching button so that visitor can easily change their view between art view and spark view? Currently if a customer visit the art page through wrong link (shared by owner by just copying and pasting the url in the address bar) he may feel odd because we encapsulate the views for him, i.e., he is in owner view, but he doesn't have an idea of it. So if we just add such

[2022-05-03 17:16] SantanaSP commented on #82
It seems that the footer affect the whole viewport when using mobile device. Resolve #84 first.

[2022-05-04 01:38] codeAtNow commented on #68
Which browser will happen this issue,I test on edge and chrome,it will not happen @SantanaSP

[2022-05-04 05:14] Erreth-Akbe commented on #68
@codeAtNow chrome, move mouse to the header position, and roll its scoll down side, will see the bug.

[2022-05-04 05:52] codeAtNow commented on #68
Oh, Yes I see the bug,I will fix it

[2022-05-04 05:59] codeAtNow commented on #68
I fix it with add overflow: hidden. #97

[2022-05-04 11:01] Geoffreyyy commented on #85
mobile version publishing page is done, check on figma pls

[2022-05-04 11:17] SantanaSP commented on #87
@Erreth-Akbe

[2022-05-04 11:40] Geoffreyyy commented on #87
I think its not a priority if other stuffs not done yet:)
the  context switching button

[2022-05-04 12:37] Erreth-Akbe commented on #87
yes, at this time it is not a first priority thing. We can design this featrue now.

[2022-05-04 15:18] SantanaSP commented on #87
Fine, I'll leave a TODO mark and deal with it after we complete the current epic.

[2022-05-05 03:47] Erreth-Akbe commented on #87
The final page doesn't match the design draft. Below is design draft.

![image](https://user-images.githubusercontent.com/104019956/166727889-96bb675c-660d-4a41-8bae-b8b929039cd9.png)

Below is PR version.

![image](https://user-images.githubusercontent.com/104019956/166727962-3056242f-eb05-4ed3-9608-a367fec13645.png)

Please check whether **all of** your pages match the design draft.
@codeAtNow

[2022-05-05 04:25] Geoffreyyy opened #99 "Pls set a jump link in this button to publish page"
![image](https://user-images.githubusercontent.com/92965123/166863495-769f5d69-0ba4-44bb-a367-41b5ed9c074d.png)

[2022-05-05 14:49] #83 closed, assigned to SantanaSP

[2022-05-05 14:49] #84 closed, assigned to SantanaSP

[2022-05-06 12:58] SantanaSP commented on #87
There are obvious flaws in PR #100 , so I'll reopen this issue.

[2022-05-06 17:03] SantanaSP opened #105 "Update element-plus dependency"
## What's going wrong?

`element-plus` has been stable but our `site` package still uses a beta version `element-plus`. We should start on updating our dependency sometime, to gain more recent feature and bug fix.

[2022-05-06 18:02] Geoffreyyy commented on #85
in the red window

[2022-05-06 18:06] Geoffreyyy commented on #88
under designing.

[2022-05-06 18:06] Geoffreyyy commented on #86
under designing.

[2022-05-06 19:30] SantanaSP opened #106 "Coding"

[2022-05-06 19:31] SantanaSP commented on #85
I’ll take It.

[2022-05-07 01:32] codeAtNow commented on #99
resoleb #110

[2022-05-07 15:01] Geoffreyyy commented on #86
done, pls check pages new :https://www.figma.com/file/aOzhPxHjypqHt0v7yTXlGa/sparklink?node-id=1184%3A1568

[2022-05-07 15:02] Geoffreyyy commented on #88
done, pls check pages new :https://www.figma.com/file/aOzhPxHjypqHt0v7yTXlGa/sparklink?node-id=1184%3A1568

[2022-05-08 12:07] #99 closed, assigned to nobody

[2022-05-08 12:30] SantanaSP commented on #86
I'll take it.

[2022-05-08 12:55] Geoffreyyy opened #111 "Page copywriting optimization"

[2022-05-08 12:57] Geoffreyyy commented on #111
The revised suggestions have been handed over to @codeAtNow , the DOCX for web page

[2022-05-08 13:16] codeAtNow commented on #68
@Erreth-Akbe @SantanaSP this Issue can be closed

[2022-05-08 19:09] #68 closed, assigned to nobody

[2022-05-08 19:09] #71 closed, assigned to Erreth-Akbe, codeAtNow

[2022-05-09 08:16] Geoffreyyy opened #113 "pls change the medium icon jump link to a new URL:https://medium.com/@SparkLink_Protocol"

[2022-05-09 08:17] Geoffreyyy commented on #113
URL:https://medium.com/@SparkLink_Protocol
![image](https://user-images.githubusercontent.com/92965123/167368868-6af5fd4b-ccf9-49a9-a5d2-5560d549af6a.png)
this one

[2022-05-09 13:03] Geoffreyyy opened #114 "collection page 中文/english"

[2022-05-09 13:10] Geoffreyyy commented on #114
those sentences need in chinese if the page language in chinese

![image](https://user-images.githubusercontent.com/92965123/167417152-f76b7a31-f609-4c52-b8a2-1b420d56f2f3.png)

下级节点抽成比例

作品是否加密

[2022-05-09 13:13] Geoffreyyy commented on #114
## Replace the *ture* or *false* displayed in the front end with *yes* or *no*

[2022-05-09 13:16] Geoffreyyy opened #115 "cover and file box need in the same horizontal line"

[2022-05-09 13:17] Geoffreyyy commented on #115
![image](https://user-images.githubusercontent.com/92965123/167418378-7cbc0e29-3167-4768-a33c-7809928b2265.png)

[2022-05-09 13:18] Geoffreyyy commented on #115
The two boxes need to be aligned

[2022-05-09 16:04] Erreth-Akbe opened #116 "Spark page need a Chinese version."
## What's going wrong?
Spark page need a Chinese version.
![image](https://user-images.githubusercontent.com/43749085/167450300-fd45cdb9-f4b5-4232-b423-c14ebd066dbd.png)
The buttions are Chinese version now, but we need all text has been translated in English.

## How to reproduce?

None.

## Expected behavior

All the right side information need to be changed in Chinese.

## Context

refactor bra

[2022-05-09 16:06] Erreth-Akbe commented on #73
At the same time, the right side needs to add a red option to determine the required items, when the detection of unfilled not allowed to publish.

[2022-05-09 16:08] Erreth-Akbe opened #117 "Customer need the tap bar display correct site's name."
## What's going wrong?

![image](https://user-images.githubusercontent.com/43749085/167451310-745fcb9d-ccd4-4aa1-bd62-c8914c67024c.png)

## How to reproduce?
None.
## Expected behavior

display `SparkLink` is OK.

## Context

refactor.

[2022-05-10 04:17] Geoffreyyy commented on #113
@codeAtNow

[2022-05-10 04:21] Geoffreyyy commented on #117
![image](https://user-images.githubusercontent.com/92965123/167541897-646a65d6-b5f0-41a0-aa9a-ea95929ac023.png)
## change this logo to new one pls
![4](https://user-images.githubusercontent.com/92965123/167542079-0a6fb44f-5fae-4189-a51d-b1596668dc39.png)

[2022-05-10 06:51] Geoffreyyy opened #118 "the second publish button on home page"
![image](https://user-images.githubusercontent.com/92965123/167563713-4752cedc-7eb7-48fa-bdca-e1a90b0399b3.png)
if click this button need jump to the publish page

[2022-05-10 12:34] codeAtNow commented on #114
Add PR #119

[2022-05-10 17:34] SantanaSP commented on #114
What did you mean "Collection Page"? Did you mean Art page, Spark page, or both?

[2022-05-13 07:06] #117 closed, assigned to Erreth-Akbe, codeAtNow

[2022-05-13 07:28] codeAtNow opened #127 "Footer jump link is 404"
## What's going wrong?
click the footer medium jump link, will go to a 404 page

## How to reproduce?

Steps to reproduce the behavior:
1. Go to footer
2. Click on medium button

## Expected behavior

jump to a right page

## Context

refactor

[2022-05-14 06:31] #82 closed, assigned to SantanaSP

[2022-05-14 06:39] #85 closed, assigned to SantanaSP

[2022-05-15 08:39] #127 closed, assigned to nobody

[2022-05-15 08:39] #116 closed, assigned to Erreth-Akbe, Geoffreyyy, codeAtNow

[2022-05-15 08:39] #114 closed, assigned to codeAtNow

[2022-05-15 13:31] codeAtNow commented on #111
@Erreth-Akbe @codeAtNow Is there anything need I do?

[2022-05-15 13:34] codeAtNow opened #129 "We need a workflow to publish our pages"
## Summary

we need a workflow to auto publish our pages

## Expected Behaviour

we can run scripts on client and publish our build pages

## Solution

use the gh-pages lib to publish the build pages

[2022-05-15 16:37] #129 closed, assigned to nobody

[2022-05-15 16:39] #115 closed, assigned to codeAtNow, SantanaSP

[2022-05-16 17:11] SantanaSP commented on #87
I’ll take over this.

[2022-05-17 10:38] codeAtNow commented on #87
This Issue still have ant work to do?

[2022-05-18 09:39] codeAtNow opened #136 "The Chinese translate error"

[2022-05-18 09:49] codeAtNow opened #138 "pages have style bug"

[2022-05-18 10:54] Geoffreyyy opened #139 "页面字段更新/优化"

[2022-05-18 10:54] Geoffreyyy commented on #139
@codeAtNow

[2022-05-18 13:13] Erreth-Akbe opened #140 "Should use correct Pinata Key API."
## What's going wrong?

<img width="757" alt="41187bd293d3f7919e4eabe23d97fbe" src="https://user-images.githubusercontent.com/43749085/169037902-7defcbc8-8fd5-4fd5-9d97-d319f10c4455.png">
Can't upload file.
Should switch to
https://staging-server.sparklink.io/api/v1/key

## How to reproduce?

Should switch to
https://staging-server.sparklink.io/api/v1/key

## Expected behavior

Upload successfully

[2022-05-18 14:15] Geoffreyyy opened #141 "Royalty Price need be checked whether it is in the required field"
## Summary

Is your feature request related to a problem? Please describe.

![image](https://user-images.githubusercontent.com/92965123/169062173-fd21e3fb-8a85-47de-b2b2-1fd237725db2.png)
If the user does not fill in this option, the user cannot publish. This area needs to be marked as a required field

## Expected Behaviour

A clear and concise description of what you want to happen.
Use checkbox

[2022-05-18 14:15] #136 closed, assigned to codeAtNow

[2022-05-18 14:22] Geoffreyyy commented on #141
If the user does not fill in this option, the user cannot publish.
![image](https://user-images.githubusercontent.com/92965123/169064635-2b982832-8922-43b2-a243-a0edaa6677dc.png)

[2022-05-18 16:38] #140 closed, assigned to Erreth-Akbe, codeAtNow, SantanaSP

[2022-05-18 18:02] #86 closed, assigned to SantanaSP

[2022-05-19 02:06] SantanaSP commented on #8
WHAT are you doing with Github issues?

[2022-05-19 02:18] SantanaSP commented on #73
Hello, @Erreth-Akbe . Next time when you add a related issue, please refer to it. For example, in this case you should refer to #141 .

[2022-05-19 02:19] SantanaSP commented on #141
I'll take over it.

[2022-05-19 02:19] SantanaSP commented on #73
I'll take over it.

[2022-05-19 02:45] SantanaSP commented on #138
Please follow one of our issue template when you open a new issue.

[2022-05-19 02:45] #138 closed, assigned to nobody

[2022-05-19 02:45] SantanaSP commented on #111
Please follow one of our issue templates when you open a new issue.

[2022-05-19 02:45] #111 closed, assigned to codeAtNow

[2022-05-19 02:46] SantanaSP commented on #139
Please follow one of our issue templates when you open a new issue. Reopen this when you rewrite it.

[2022-05-19 02:46] #139 closed, assigned to nobody

[2022-05-19 02:47] SantanaSP commented on #113
Please follow one of our issue templates when you open a new issue. Reopen this when you rewrite it.

[2022-05-19 02:47] #113 closed, assigned to nobody

[2022-05-19 02:48] SantanaSP commented on #88
I'll take over this.

[2022-05-19 05:59] SantanaSP commented on #90
Please follow one of our issue templates when you open a new issue. I don’t know what the issue is since you didn't describe it well. Reopen this when you rewrite it.

[2022-05-19 05:59] #90 closed, assigned to Erreth-Akbe

[2022-05-19 09:09] Geoffreyyy opened #146 "can not check the spark page through share link"
## Summary

Is your feature request related to a problem? Please describe.
![image](https://user-images.githubusercontent.com/92965123/169256072-b7c04f85-bcf8-44b6-901a-f244a37f2c4f.png)
#i can not check the mint page through sharing link
![pro](https://user-images.githubusercontent.com/92965123/169257394-cdcbe9e8-9a9e-4d56-9ef0-8dae5bb84cb0.gif)

## Expected Behaviour

users are allowed open the

[2022-05-19 14:47] Geoffreyyy opened #147 "there is one text need be changed in publish page"
## Summary
这里需要修改优化一下售价项的下面的解释
![image](https://user-images.githubusercontent.com/92965123/169324906-249879ad-b922-4d94-93c5-88bcf6417857.png)

## Expected Behaviour
修改的让用户更加易懂

## Solution

将“以货币而非以太为结算单位”修改为：以已选择的代币作为结算单位

### Alternative

## Additional context

## Roadmap

Maintainer could use this section to record issue roadmap.

[2022-05-19 14:55] Geoffreyyy opened #148 "暂时置灰还未上线的主网选项"
## Summary

置灰还未上线的主网选择按钮，无法点击
![image](https://user-images.githubusercontent.com/92965123/169326226-bf6d2495-b804-4f56-af66-38f7f0609043.png)

## Expected Behaviour

还未上线前，用户容易点击操作而造成无法发布的疑惑

## Solution

先置灰eth and bsc，等上线后依次复原。目前阶段只保留rinkeby和matic

### Alternative

Describe alternatives you've considered
A clear and concise description of any alternative solutions or features you've considered.

[2022-05-19 17:06] SantanaSP commented on #148
Keep using English please.

[2022-05-19 18:55] #73 closed, assigned to SantanaSP

[2022-05-19 18:55] #141 closed, assigned to SantanaSP

[2022-05-20 05:46] #148 closed, assigned to SantanaSP

[2022-05-20 18:28] #87 closed, assigned to codeAtNow, SantanaSP

[2022-05-20 18:29] #88 closed, assigned to SantanaSP

[2022-05-21 05:30] SantanaSP commented on #81
Cheers! All issues in this epic got resolved!

[2022-05-21 05:30] #81 closed, assigned to nobody

[2022-05-21 07:57] SantanaSP opened #150 "Epic - Community Sandards Tracker"
## Summary

As our codebase grows, this project is attracting more open source collaborators to engage in development. It's time to make our project meets opensource community standards.

The objective of this epic is to formalize this repo so that open source collaborators could engage without much effort. We need to add Readme and other documents, emphasize PR Templates, etc. The issues in the F

[2022-05-21 08:31] SantanaSP opened #151 "Add Readme to describe our repo"
## Summary

This repository need a more clear Readme to describe the goals and other notifications to new contributors and users.

## Expected Behaviour

A clear Readme describes what we are doing, how to set up development environment and contribute and so on.

## Solution

### Alternative

## Additional context

Branch `refactor`.

## Roadmap

[2022-05-21 08:54] SantanaSP opened #152 "Add an open source license"
## Summary

We need to add an open source license for this repository, and discuss everything about the license - include license changing procedure - before it gets added.

## Expected Behaviour

Add an opensource license & the standard procedure of chaing license.

## Solution

### Alternative

## Additional context

## Roadmap

- [ ] Discuss about the license.
- [ ] Discuss the procedure of cha

[2022-05-21 10:28] Erreth-Akbe commented on #150
I will finish the description.

[2022-05-21 13:47] Geoffreyyy opened #153 "sharing link got bug, can not jump to the publish work"
## What's going wrong?

the sharing link got some problems, can not go jump

## How to reproduce?

Steps to reproduce the behavior:

1. Go generate a sharing link
2.  paste it on board
3. and the sharing link is :**You are welcome to view and try casting my NFT publication: https://sparklink.io/#/spark/[object Object]/[object Object]**
4. there are some "[object Object]" behand the link, can not o

[2022-05-21 19:40] SantanaSP commented on #153
Which version?

[2022-05-21 20:03] SantanaSP commented on #153
Duplicate of #146 .

[2022-05-22 06:29] Erreth-Akbe commented on #153
Why Duplicate of #146. Is it because of the wrong use of the script?

[2022-05-22 06:35] SantanaSP commented on #153
My fault, its not a duplicate. I'll check and fix it.

[2022-05-22 10:23] #153 closed, assigned to Erreth-Akbe, SantanaSP

[2022-05-22 14:49] Geoffreyyy opened #155 "the email box button got bug"
## What's going wrong?

![image](https://user-images.githubusercontent.com/92965123/169701095-2ec4e460-7d8a-4cf0-8d82-654c914cc525.png)

check here, the text out of the button

## How to reproduce?

Steps to reproduce the behavior:
Go to check the email box and the button

## Expected behavior

please keep the "contact us" in the button box

## Context

Which branch / version this issue exists on,

[2022-05-23 09:15] Geoffreyyy opened #157 "Instructions of Development environment and tools"
## Summary

For open source projects, descriptions of the development environment and development tools are required

## Expected Behaviour

Some documentation

## Roadmap

- [ ] Document part 1

Part1 means that I want to make this part the first part of our doc.
Temporarily labelled as part1.lol

[2022-05-23 09:18] Geoffreyyy opened #158 "Project or functional background"
## Summary

Introduction of project or functional background

## Expected Behaviour

need have a Introduction of project or functional background,For developers, the background of the project is clear

## Solution

The document

## Roadmap

- [ ] The document part 2

[2022-05-23 09:21] Geoffreyyy opened #159 "Introduction to every single module and function relationships"
## Summary

This section describes functional relationships between modules

## Expected Behaviour

This section describes functional relationships between modules

## Solution

doc

### Alternative

Describe alternatives you've considered
A clear and concise description of any alternative solutions or features you've considered.

## Additional context

Add any other context or screenshots about t

[2022-05-23 09:23] Geoffreyyy opened #160 "Class or terminology description"
## Summary
Class or terminology description in every function part

## Expected Behaviour

Class or terminology description

## Solution

Describe the solution you'd like.
If you have no idea pls just leave it blank.

### Alternative

Describe alternatives you've considered
A clear and concise description of any alternative solutions or features you've considered.

## Additional context

Add any o

[2022-05-23 09:25] Geoffreyyy opened #161 "Functionality and proposed technologies - Technical solution documentation"
## Summary

Functionality and proposed technologies - Technical solution documentation

## Expected Behaviour

Functionality and proposed technologies - Technical solution documentation

technical framework
## Solution

doc or pic

### Alternative

Describe alternatives you've considered
A clear and concise description of any alternative solutions or features you've considered.

## Additional cont

[2022-05-23 09:26] Geoffreyyy opened #162 "Software (code) Interface - Annotated documentation"
## Summary
Software (code) Interface - Annotated documentation

## Expected Behaviour

Software (code) Interface - Annotated documentation

## Solution

Annotations for each method and attribute

## Additional context

I don't know if this requires, I mean, a comment document for every interface that is called

## Roadmap

Comment documentation for the interface

[2022-05-23 09:26] Geoffreyyy opened #163 "Communication (network) Interface - Interface documentation"
## Summary

Communication (network) Interface - Interface documentation

## Expected Behaviour

Communication (network) Interface - Interface documentation

## Solution

The corresponding description of network request includes the corresponding parameters, fields and return values, as well as the corresponding model attribute and method description of data model layer

## Roadmap

[2022-05-23 09:27] Geoffreyyy opened #164 "Issues and Fixes - Bug fix documentation"
## Summary

Issues and Fixes - Bug fix documentation

## Expected Behaviour
Issues and Fixes - Bug fix documentation

the log?? should be needed?

## Additional context

A separate Bug fix document, list common or important BUG records

What bugs are important during development or testing, and the solution(not all bugs, only for essential)

## Roadmap

The maintainer could use this section to rec

[2022-05-23 09:30] Geoffreyyy opened #165 "Performance analysis and optimization doc"
## Summary

the doc of performance analysis and optimization should be needed?

## Expected Behaviour

the doc of performance analysis and optimization just is one part of doc for all dev

## Solution

some details about performance?

## Additional context

**Time characteristics**

- Response time;
- Update processing time;
- Data conversion and transmission time;
- Running time, etc.

**adaptive

[2022-05-23 09:31] Geoffreyyy commented on #159
An item or function corresponds to the module's location, entry, and relationship to other modules

[2022-05-23 09:32] Geoffreyyy commented on #160
A description of the corresponding class of the project or function, and a description of any related terms used during development, for more friendly?

[2022-05-23 09:38] Geoffreyyy opened #166 "workflow-how we work"
## Summary

A brief introduction to the workflow

some infos

## Expected Behaviour

Ask a question - get a task - Start a task - Complete a task - End a task

## Solution

If there are any requirements or bugs, release an issue with the template,  the admin going to review and assign tasks

## Roadmap

[2022-05-23 09:39] Geoffreyyy commented on #150
i added some tasks about DOC

[2022-05-23 11:54] SantanaSP commented on #157
Hello what does the document part 1 mean?

[2022-05-23 13:16] Erreth-Akbe opened #167 "Need a disscussion series for top level featrue design"
## Summary

To let us be more aware of what features can be done, what is worth doing, and what kind of energy needs to be spent to complete them. It is also to enable the community and open source workers to better join our project.
We need a board for discussing the top-level design of the project.

## Features

We need a board for discussing the top-level design of the project.
For example: [Sp

[2022-05-23 14:14] Erreth-Akbe opened #168 "Customer need Polygon version contract to be used in SparkLink App."
## Summary

Customer need Polygon version contract to be used in front end.

## Expected Behaviour
- [x] Our app should connects Polygon NetWork.
- [ ] Our app should support user publish NFT at Polygon Network.
- [ ] Our app should support user check their SparkLink NFT at Polygon Network.
- [ ] Our app should support user check share link form fron a SparkLink NFT at Polygon Network.
- [ ] (opti

[2022-05-23 14:49] Erreth-Akbe opened #169 "Need replace Icon file."
## What's going wrong?

Need replace Icon file.

## How to reproduce?

Just at sparklink app's tap bar.
![image](https://user-images.githubusercontent.com/43749085/169845988-69fec07f-a69b-425f-8e08-7ff415e7c0ef.png)

## Expected behavior

Should desplay the new logo.

## Context

refactor branch.

[2022-05-23 22:12] #169 closed, assigned to Erreth-Akbe

[2022-05-23 22:14] SantanaSP commented on #158
Could you clarify what the `project or functional background` is?

[2022-05-23 22:20] SantanaSP commented on #159
May be described in `CONTRIBUTING.md` as `project structure` section.

[2022-05-23 22:22] SantanaSP commented on #160
I don't think its useful to developers since our project js a quite simple frontend project and do not have many glossaries. What do you think?

[2022-05-23 22:31] SantanaSP commented on #162
So what you are talking about is an API documentation?

[2022-05-23 22:33] SantanaSP commented on #163
What's the difference between #162 and this issue?

[2022-05-23 22:34] SantanaSP commented on #164
Could you please clarify what the issue is?

[2022-05-23 22:41] SantanaSP opened #171 "A `CONTRIBUTING.md`"
## Summary

Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Expected Behaviour

A clear and concise description of what you want to happen.
Use checkboxes to record goals.

## Solution

Describe the solution you'd like.
If you have no idea pls just leave it blank.

### Alternative

Descr

[2022-05-23 23:51] SantanaSP opened #172 "A `CONTRIBUTING.md` is needed"
## Summary

We need a `CONTRIBUTING.md` to describe our code structure and workflow to newly joined developers.

## Expected Behaviour

A `CONTRIBUTING.md`, which describes things below:

1. Technology stack of our full project.
2. Structure of this repo.
    1. Packages information and whether they are private.
    2. Files structures and toolchains.
3. workflow for community collaborators.
    1

[2022-05-23 23:53] SantanaSP commented on #161
Fully track in #172.

[2022-05-23 23:53] #161 closed, assigned to nobody

[2022-05-23 23:58] SantanaSP commented on #157
Track in #172 .

[2022-05-24 00:00] SantanaSP commented on #172
Source issues:

- #157
- #159
- #166
- #161

[2022-05-24 00:03] SantanaSP commented on #159
Track in #172 .

[2022-05-24 00:06] SantanaSP commented on #166
Track in #172 .

[2022-05-24 00:10] SantanaSP commented on #167
I think we can open a discussion area in repo https://github.com/SparkNFT/SparkLinkProductTopLevelDesign . What's your proposal?

[2022-05-24 00:28] SantanaSP opened #173 ""Code of Conduct" is needed"
## Summary

As the [Community Standards](https://github.com/SparkNFT/SparkLink/community) request, a "Code of Conduct" is needed for our community.

## Expected Behaviour

A `CODE_OF_CONDUCT.md` describes the code of conduct of our community.

## Solution

https://www.contributor-covenant.org/

### Alternative

## Additional context

https://github.com/rollup/plugins/blob/master/.github/CODE_OF_CO

[2022-05-24 02:49] Erreth-Akbe commented on #167
I aggree.

[2022-05-24 02:51] Erreth-Akbe commented on #167
Perhaps a structure similar to a democratic representative system will gradually be formed after the issuance of governance tokens.

[2022-05-24 03:32] Erreth-Akbe commented on #150
Should we add some description about "community developers will be our DAO members, and will get SPL token as benifits ", the amount will judged by our DAO members and core developer?

[2022-05-24 03:34] Erreth-Akbe commented on #150
And do we need gitter channel? Our just discord for now is OK.

[2022-05-24 03:42] Erreth-Akbe commented on #152
I reaserched some project in Web 3.0 area. Most of them are using GPL license for their project.
[go-ethereum License](https://github.com/ethereum/go-ethereum/blob/master/COPYING)
[Mask Book License](https://github.com/DimensionDev/Maskbook/blob/develop/LICENSE)
[Uniswap protocal License](https://github.com/Uniswap/v2-core/blob/master/LICENSE)
Solana is using Apache License:
[Solana License](https

[2022-05-24 06:22] Geoffreyyy commented on #162
I don't know if this requires, I mean, a comment document for every interface that is called

[2022-05-24 06:23] Geoffreyyy commented on #163
The corresponding description of network request includes the corresponding parameters, fields and return values, as well as the corresponding model attribute and method description of data model layer, so maybe can be merged with #162 ?

[2022-05-24 06:35] Geoffreyyy commented on #163
I'm not sure, maybe it could be part of the interface documentation with #162  ?

btw,I'm not professional in code development, maybe you have good ideas please edit in time

[2022-05-24 06:54] Geoffreyyy commented on #164
A separate Bug fix document, list common or important BUG records, like a log

What bugs are important during development or testing, and the solution(not all bugs, only for essential)

[2022-05-24 07:01] Geoffreyyy commented on #160
ya, if there are not too many uncommon for dev, this is not be needed.

[2022-05-24 07:13] Geoffreyyy commented on #158
In a nutshell, we need a description of the content of our project, such as what our function is, what we do, and Who is responsible for the project? For a new developer, project documentation may be needed, let them understand what this thing is. I was wondering if I could reference sparklink Wiki directly

[2022-05-24 09:28] SantanaSP commented on #150
It may be the pattern we will apply later, But now I think we'd better focus on the short term goal.

[2022-05-24 09:29] SantanaSP commented on #150
Discord is just ok for current community. We can evaluate gitter if we need it later.

[2022-05-24 09:38] SantanaSP commented on #152
I agree with you. To other individual contributors, please give a 👍to this comment if you agree to use GPL, or give a 👎if you prefer another license, so that maintainers could know your tendency. Since this project is formerly coded under SparkNFT team, the maintainer would decide which license to use as a consequence.

This comment will hang for at least 48 hours before the license is decided.

[2022-05-24 09:51] SantanaSP commented on #162
So it's actually an API document isn't it?

[2022-05-24 09:54] SantanaSP commented on #163
I think it's the responsibility of the server repository.

Do you mean this API document? https://github.com/SparkNFT/server/blob/develop/doc/api.apib

[2022-05-24 09:56] SantanaSP commented on #164
Do you mean "change log" between versions?

[2022-05-24 09:57] SantanaSP commented on #160
If we need it later, we can discuss it at that time. I'll close this issue currently.

[2022-05-24 09:57] #160 closed, assigned to nobody

[2022-05-24 09:59] SantanaSP commented on #158
Yes you are right. Maybe it can be documented in `README.md`.

[2022-05-24 11:27] SantanaSP commented on #168
I'll take over this.

[2022-05-24 14:40] Geoffreyyy commented on #164
emmm  ya, do you think we should have change log

[2022-05-24 14:42] Geoffreyyy commented on #163
oh yes

[2022-05-24 22:28] Erreth-Akbe opened #175 "Try to fix bug in gas price."
## What's going wrong?

We can not get correct gas price in polygon network.

## How to reproduce?

Can easily reproduce by publishing or any other transcation.

## Expected behavior

web3.js's contract type has an option value for gas price, we should set this when it is constructed.
https://web3js.readthedocs.io/en/v1.7.3/web3-eth-contract.html
But now I have not figured out when it is construct

[2022-05-24 23:13] Erreth-Akbe opened #176 "We are using bigint type to strore Price and other value whose value area is 2^256"
## What's going wrong?

We are using bigint type to strore Price and other value whose value area is 2^256

## How to reproduce?

Nothing happens now, but some token like $SHIB may exceed 2^64*10^18

## Expected behavior

I think using BigNumber type is a good solution.

## Context

refactor branch.

[2022-05-24 23:48] SantanaSP commented on #164
Maybe. What you actually mean is a changelog.

[2022-05-24 23:49] SantanaSP commented on #163
Okay, I'll close this issue.

[2022-05-24 23:49] #163 closed, assigned to nobody

[2022-05-25 04:11] Geoffreyyy commented on #164
Part of what I mean is that if there are special and important bugs, they can also be recorded in Changelog

[2022-05-26 00:51] SantanaSP commented on #164
Okay, that's actually a changelog, I think.

[2022-05-31 14:56] SantanaSP commented on #175
Roger that, I'll add a workaround recently.

[2022-05-31 19:01] #175 closed, assigned to Erreth-Akbe, SantanaSP

[2022-06-01 08:40] #168 closed, assigned to Erreth-Akbe, SantanaSP

[2022-06-12 07:33] Erreth-Akbe opened #180 "Custom need our Dapp support BSC chain"
## Summary

Custom need our Dapp support BSC chain

## Expected Behaviour

Custom can publish and mint at BSC chain.

## Solution

BSC contract address: 0xb83A6A35F1468BEA014e6Aa014300128D34ee433
server option: bsc

### Alternative

Describe alternatives you've considered
A clear and concise description of any alternative solutions or features you've considered.

## Roadmap

refactor branch.

[2022-06-13 00:11] Erreth-Akbe opened #182 "The key server has a bug that confuses rinkeby with matic"
## What's going wrong?

The key server has a bug that confuses rinkeby with matic.

## How to reproduce?

The key server in the production environment currently regards "rinkeby" as matic requiring the front-end to replace the key-value pair.
At the same time, the production environment needs to remove the related services of rinkeby.

## Expected behavior

There is no rinkey services in productio

[2022-06-13 00:14] Erreth-Akbe opened #183 "The address used in the collection request must be a checksum address with both upper and lower case."
## What's going wrong?

The address used in the collection request must be a checksum address with both upper and lower case.

## How to reproduce?

Sometimes we will get only lower case request at client Dapp,  and server will response an empty array.

## Expected behavior

The address used in the request here should be strictly the checksum address.

## Context

refactor branch.

[2022-06-13 00:19] Erreth-Akbe opened #184 "We need to use infura or http provider to make the spark page display metadata information and pictures when the user has not connected to the wallet."
## Summary

We need to use infura or http provider to make the spark page display metadata information and pictures when the user has not connected to the wallet.
And when someone has more than 20 NFT in his collection, the RPC server will response "too many request". We can solve this problem by buying infura service for polygon and ETH, but for BSC I have not find a solution. Maybe BSC RPC serve

[2022-06-13 13:17] SantanaSP commented on #183
Could you locate the error code?

[2022-06-13 22:29] Erreth-Akbe commented on #183
https://github.com/SparkNFT/SparkLink/blob/refactor/packages/site/src/routes/Collection.vue#:~:text=owner%3A%20account.value%2C
And  here:
https://github.com/SparkNFT/SparkLink/blob/refactor/packages/site/src/store/provider.ts#:~:text=return%20await%20this.web3.eth.getAccounts().then((v)%20%3D%3E%20v%5B0%5D)%3B
But I checked the documentation of web3.js, it said that this place will return a check

[2022-06-15 01:32] #180 closed, assigned to SantanaSP

[2022-06-18 13:15] Geoffreyyy commented on #155
。

[2022-06-22 07:48] wangshiy commented on #155
link to this pr: https://github.com/SparkNFT/SparkLink/pull/185

[2022-06-22 14:37] SantanaSP commented on #155
Fixed by #185 .

[2022-06-22 14:37] #155 closed, assigned to wangshiy

[2022-07-05 05:26] Erreth-Akbe opened #186 "The community needs a bot that can verify if a user owns an NFT belongs to an issue."
## Summary
The community hopes to use a published NFT tree structure as a membership card to enter a private group.

## Expected Behaviour

We need to make a telegram and discord bot which supports the following functions:
- [ ] First of all, the bot needs to have a core module that can be called by the telegram bot component and the discord bot component. The APIs of these two platforms are diffe

[2022-07-05 06:46] Erreth-Akbe opened #187 "The spark page needs to display everything when the user is not connected to the wallet, and prompt the user to connect the wallet when the user clicks the mint button."
## Summary

The spark page needs to display everything when the user is not connected to the wallet, and prompt the user to connect the wallet when the user clicks the mint button.

## Expected Behaviour

The spark page should display collection name, image and other information when the users opened the page without connected with their wallet.

## Solution
There are two types of functions when c

[2022-07-06 06:21] SantanaSP commented on #184
One single issue should include only one problem / feature request. Please split different problems into the corresponding issues.

[2022-07-06 06:39] SantanaSP commented on #187
Do not abuse task list please. In my opinion normal paragraphs are more suitable for the "solution" section.

[2022-07-06 06:44] SantanaSP commented on #184
This issue will be discussed in #187 and finally be traced in #188 .

[2022-07-06 06:44] #184 closed, assigned to SantanaSP

[2022-07-06 07:10] SantanaSP opened #188 "HTTP provider should be added to support non-wallet query"
## Summary

Users should have a similar experience in some common query fields no matter whether their wallets are connected or not. To achieve this goal, an addition HTTP provider should be added to bypass the RPC providers like metamask which usually require wallet connected to continue following queries even if these queries do not need wallet information.

## Expected Behaviour

All queries wh

[2022-07-06 07:22] SantanaSP commented on #187
This issue will finally be traced in #188. The issue will be closed but any discussion related to this issue is still welcomed.

[2022-07-06 07:22] #187 closed, assigned to Erreth-Akbe, SantanaSP

[2022-07-12 14:39] #188 closed, assigned to SantanaSP

[2022-07-19 09:01] Erreth-Akbe opened #190 "Customers need to see a button like "Get Help" on the spark page leading to our group"
## Summary

Need to fill.

## Expected Behaviour

A clear and concise description of what you want to happen.
Use checkboxes to record goals.

Need to fill.

## Solution

Describe the solution you'd like.
If you have no idea pls just leave it blank.

Need to fill.

### Alternative

Describe alternatives you've considered
A clear and concise description of any alternative solutions or features you'

[2022-07-20 09:56] Geoffreyyy commented on #190
背景：
很多传统web2用户或者一般用户通过分享链接进入spark页面后，不知道如何进行购买或者遇到很多问题不知道找谁解决，在使用过程中需要让用户知道找到官方的人来解决，同时让用户快速加入社区也可提高用户留存量。

需求：
在spark页面（用户通过分享链接进入的页面）mint按钮的下方增加“Need help？”（中文为：需要帮助？） 可点击的字段，点击后在页面右下角弹出信息小窗提示，用户通过点击媒体按钮会直接跳转到官方社群群组内。此弹窗在打开页面后默认不弹出只有待用户点击need help 字段后弹出弹窗，若不关闭弹窗则一直存在，此弹窗提示仅存在spark页面，切换其他页面后消失。

媒体按钮目前应该具有两个媒体选项：
 1.telegram群组 2.discord群组

注意：
1.在中文语言下，应判断用户跳转的群组为telegram中文社群：[https://t.me/sparkl

[2022-07-20 10:04] Geoffreyyy opened #191 "the subscribe button on mobile page should set a URL"
## What's going wrong?

if users entering through the mobile page, clicking the subscribe button cannot jump to the community group

A clear and concise description of what the bug is.

If screenshots could help, please attach them here.
![1658311195835](https://user-images.githubusercontent.com/92965123/179955331-85016113-74a7-4ab6-827f-b76d02773eaa.png)
## How to reproduce?

Steps to reproduce t

[2022-07-20 15:43] Erreth-Akbe commented on #190
[Geoffreyyy](https://github.com/Geoffreyyy) NB!

[2022-07-21 07:37] Erreth-Akbe opened #192 "Some customers encountered the problem of not being able to mobilize their wallets to publish during the publishing process."
## What's going wrong?

A user encountered a problem that the publishing operation could not continue.
![image](https://user-images.githubusercontent.com/43749085/180151330-7487ca7a-15b2-44be-b0b0-8ea919805333.png)
Console and Network erro record:
![0d42dbf20126f13247bb4ff46f06e97](https://user-images.githubusercontent.com/43749085/180152923-a44ae18a-03c9-45ad-962d-1fdcb5896fd1.png)
![image](https

[2022-07-21 07:38] Erreth-Akbe commented on #191
Or just use link tree's service is OK.

[2022-07-21 07:39] Erreth-Akbe commented on #183
By our carefully reviewing, we confirm this bug does not exist.

[2022-07-21 07:39] #183 closed, assigned to SantanaSP

[2022-07-21 07:40] #182 closed, assigned to SantanaSP

[2022-07-21 07:41] Erreth-Akbe commented on #176
@SantanaSP Should concern this problem in refector project.

[2022-07-21 12:37] SantanaSP commented on #192
Do you believe we got an alien who had a good sight just now? He can even figure out what the content in your blurred "Network" screenshot is!

[2022-07-21 12:44] Erreth-Akbe commented on #192
The content in the network is not very important, because the content in it does not change before and after the error is reported. I wrote in the statement above.

[2022-07-21 12:44] Erreth-Akbe commented on #192
I'll replace the screenshots of this, probably in 1-2 hours.

[2022-07-21 12:49] SantanaSP commented on #192
I think it's almost like a network error or a hard problem to solve since we can't reproduce its behavior in our own environment. Do you record the network activities from before the site is loading? And have you noticed anything strange been returned by the server?

[2022-07-21 12:57] Erreth-Akbe commented on #192
I don't quite agree that this is a network bug. If you are more sure, I will go to him to take a screenshot to see if there is any problem in the loading. You can follow the console error report to see what kind of environment this problem usually occurs in. This is likely to be a problem caused by a supply chain that is not supported in a certain environment.

[2022-07-21 12:58] Erreth-Akbe commented on #192
![4c3db1c2a26f3ada73df3bbc5ed6fc3](https://user-images.githubusercontent.com/43749085/180219075-d634018f-7630-4a8a-ae63-7b31b66b7f9c.png)

[2022-07-21 13:01] Erreth-Akbe commented on #192
![539fe978947635e7d0ea150e5940dde](https://user-images.githubusercontent.com/43749085/180219782-58b95f88-97cd-464e-8d04-03619b6daa8d.png)

[2022-07-21 13:03] Erreth-Akbe commented on #192
We want to find a way to adjust this costomer's environment so that he can use our Dapp

[2022-07-21 13:06] SantanaSP commented on #192
But since we cannot reproduce it in our environment and follows the principle of "unacceptable as uncorroborated evidence", I think it's more rational to treat it as an occasional problem first. Just think that, if it's the fault of one of our dependencies, why
do the other instances just function well?

[2022-07-21 13:14] SantanaSP commented on #192
I noticed that there're no XHR requests in your Network screenshot, which means the activity between the client and the server has not been recorded. Under such an information insufficient circumstance I'm afraid I can't guess what's the true criminal, the only thing we can do is to get a new Network report or blame the supply chain endlessly.

[2022-07-21 13:15] Erreth-Akbe commented on #192
I think this kind of supply chain library error should be a relatively common problem, I mean crypto.subtle this supply chain library. So according to the results of my current research, it is very likely that this user does not have https support, so what I want to know is how can I determine that his current environment is a non-HTTPs environment? Why are all three of his devices turned off http

[2022-07-21 13:22] SantanaSP commented on #192
The Rollup will automatically generate the vendor bundle using polyfills or other replacements to replace the built-in module of nodejs, including `https`. So I think it's most likely not an issue of `https`.

[2022-07-21 13:25] SantanaSP commented on #192
I believe that the bottom layer network functionality package is using `browser` field in their packages to help the bundler to accomplish such work. Here is the specification for it: https://github.com/defunctzombie/package-browser-field-spec

[2022-07-21 13:31] SantanaSP commented on #192
I insist on acquiring complete information about the context before we can dig deeper into the supply chain. If you noticed that even a request to the server hasn't happened, it's most likely what's going wrong with his chrome configurations, since the chrome profile sync mechanism could spread anything wrong to all the devices of a user.

[2022-07-21 13:35] SantanaSP commented on #192
<del>Oh I see he's using Firefox, which version of Metamask is he using? Does he syncs any his data across devices?</del>

Have you tried to use WalletConnect to reproduce it?

[2022-07-21 13:55] Erreth-Akbe commented on #192
Yes, there was same error at mobile client . It is so strange.

[2022-07-21 14:01] SantanaSP commented on #192
Do you mean you can reproduce it with WalletConnect? If so, this issue can be taken into agenda.

[2022-07-21 14:04] Erreth-Akbe commented on #192
no, he can reproduce. It is weird.

[2022-07-21 14:07] SantanaSP commented on #192
Yeah since I'm not familiar with WalletConnect actually there are no other things I can do to solve it. Of cause under the promise that you record the network activities correctly.

[2022-07-24 12:02] SantanaSP opened #193 "Test usage issue"
Just for discord bot testing.

[2022-07-24 12:03] #193 closed, assigned to nobody

[2022-07-28 07:17] Erreth-Akbe opened #194 "Preparing to gradually transform sparklink into an ERC"
## What's going wrong?

Front-end encryption has a crash problem
The minimum we should be able to support symmetric encryption of files over 200mb
In the best case we should be able to support symmetric encryption for files of 500mb in size
Also we need to question the correctness and necessity of putting symmetric encryption on the front end

## How to reproduce?

Just encrypt a file of about 200